* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&family=Roboto:wght@500&display=swap");
body {
  background-color: rgb(231, 229, 229);
}
main {
  margin: 150px auto;
  text-align: center;
  width: 50%;
}
.title {
  width: 30%;
  padding: 10px;
  border-bottom: 5px solid lightskyblue;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.2rem;
}
.container {
  margin: 20px auto 0 auto;
  padding: 10px;
  background-color: white;
  width: 50%;
}
.name {
  color: black;
  font-weight: bolder;
}
.mar {
  margin-top: 5px;
}
