* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&family=Roboto:wght@500&display=swap");
body {
  background-color: rgb(231, 229, 229);
}
main {
  margin: 150px auto;
  text-align: center;
  width: 50%;
}
#title {
  width: 50%;
  padding: 10px;
  border-bottom: 5px solid lightskyblue;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 2px;
}
.container {
  margin: 20px auto 0 auto;
  padding: 10px;
  background-color: white;
  width: 50%;
}
.name {
  color: black;
  font-weight: bolder;
}
.mar {
  margin-top: 20px;
}
.Designation {
  color: rgb(6, 126, 201);
}
.btns {
  display: flex;
  width: 100px;
  margin: 20px auto;
  text-align: center;
  justify-content: space-between;
}
.btns button,
.surprise button {
  border-color: rgb(6, 126, 201);
  color: rgb(6, 126, 201);
  background-color: inherit;
  font-size: 1rem;
  padding: 5px;
}
.btns button {
  border: none;
  font-size: 2rem;
}
.container img {
  width: 50%;
  height: 160px;
  border-radius: 50%;
}
